body {
	background-color: #BFBFBF;
}


#banner {
	height: 50px;
	width: 100%;
}

#navbar {
	height: 100px
	width: 100%;
	border: 1px solid black;
	background-color: black;

	
}

#menu {
	color: white;
	font-family: Merriweather, Georgia, serif;
	font-size: 50px;
	float: center;
	margin: 2px;
	text-decoration: none;
	display: inline;
	padding: 20px;
}

a:hover {
	color:pink;
}

#pagetitle {
	font-size: 20px;
	font-color: black;
	font-family: Merriweather, Georgia, serif;

}

.projecttitle {
	font-size: 15px;
	font-color: black;
        font-family: Merriweather, Georgia, serif;
	left: 100px;
	
}

.projectdescription {
	font-size: 10px;
	font-color: black;
	font-family: Roboto, Gotham Book, Arial, sans-serif;

}

.projectpic {
	margin: 5px;

}


