/*
CSS: element, id, class
selector{    
   property:value;
}
*/
body{ 
   background-color: gray
   }
nav { 
  font-family: 'Merriweather', serif;
  font-size: 300%;
  font-weight: normal; 
  font-color: white;
}
