body {
	background-color: #BFBFBF;

}


#banner {
       background-size: 400px
       align: center;
	
}

#navbar {
	height: 200px
	width: 100%;
	border: 1px solid black;
	background-color: black;]
        text-decoration: none;

	
}

#menu {
	color: white;
	font-family: Merriweather, Georgia, serif;
	font-size: 40px;
	float: center;
	margin: 2px;
	text-decoration: none;
	display: inline;
	padding: 20px;

}

a:hover {
	color:pink;
}

li {
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	
}

#pagetitle {
	font-size: 20px;
	font-color: black;
	font-family: Merriweather, Georgia, serif;

}

.project {
	padding: 30px;
}

h2 {
	font-family: Merriweather, Georgia, serif;
	color: black;
}
p {
	font-family: Roboto, Verdana, Arial, sans-serif;
}

img {
	padding: 30px;
}

.photo {
	height: 5in;
	width: 3in;
	padding: 30px;
}

