/*
CSS: element, id, class
selector{    
   property:value;
}
*/
title{
    font-family: 'Merriweather', serif;
  font-size: 300%;
  font-weight: normal; 
  font-color: white; 
}
body{ 
   background-color: gray
   }
nav { 
  font-family: 'Merriweather', serif;
  font-size: 200%;
  font-weight: normal; 
  font-color: white;
}
#nav {
width:750px;
margin:0 auto;
list-style:none;
}
#nav li {
float:left;
}
#nav a {
display:block;
text-align:center;
width:150px; /* fixed width */
text-decoration:none; 
}
