/*
CSS: element, id, class
selector{    
   property:value;
}
*/
h1{
    font-family: 'Merriweather', serif;
  font-size: 300%;
  font-weight: normal; 
  font-color: white; 
}
body {
    background-image: https://github.com/katienicpon/katienicpon.github.io/blob/master/homepic.jpg ("homepic.jpg");
    background-color: #cccccc;
} 
ul { 
  font-family: 'Merriweather', serif;
  font-size: 200%;
  font-weight: normal; 
  font-color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
li {
    display: inline;
}
}
/* Change the link color to light blue on hover */
li a:hover {
    background-color: lightblue;
}
