body {
	background-color: #BFBFBF;

}


#banner {
       background-size: 400px
       	margin-right: 100px;
	margin-left: 100px;
	
}

#navbar {
	height: 100px
	width: 100%;
	border: 1px solid black;
	background-color: black;]
        text-decoration: none;

	
}

#menu {
	color: white;
	font-family: Merriweather, Georgia, serif;
	font-size: 30px;
	float: center;
	margin: 2px;
	text-decoration: none;
	display: inline;
	padding: 20px;

}

a:hover {
	color:pink;
}

li {
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	
}

#pagetitle {
	font-size: 20px;
	font-color: black;
	font-family: Merriweather, Georgia, serif;

}

